$black: #000;
$orange: #ca7f04;
$white: #fff;
$cream: #f7f5f0;
$green: #4cd137;
$gold: #eae2d2;

@font-face {
  font-family: Univers LT;
  src: url(../fonts/Univers\ LT\ Std\ 57\ Condensed.otf);
  font-weight: normal;
}
@font-face {
  font-family: Univers LT;
  src: url(../fonts/Univers\ LT\ Std\ 67\ Bold\ Condensed.otf);
  font-weight: bold;
}
@font-face {
  font-family: Thirsty Rough;
  src: url(../fonts/ThirstyRoughRegular.otf);
  font-weight: normal;
}

::-moz-selection {
  /* Code for Firefox */
  color: $white;
  background: $orange;
}

::selection {
  color: $white;
  background: $orange;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 9999rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 9999rem;
  background: $gold;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $orange;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  font-family: "Univers LT";
  scroll-behavior: smooth;
}
button,
a {
  cursor: pointer;
  text-decoration: none;
}
.dot {
  border-radius: 100%;
  width: 0.3rem;
  height: 0.3rem;
  background-color: $white;
}
.scrollToTop.hide {
  opacity: 0;
}
.scrollToTop {
  transition: 300ms ease-in-out;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  background-color: $black;
  position: fixed;
  bottom: 4rem;
  right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  i {
    color: $white;
  }
}
header {
  position: fixed;
  width: 100%;
  height: fit-content;
  z-index: 9999;
  transition: 200ms ease-in-out;
  .background {
    transition: 300ms ease-in-out;
    position: absolute;
    inset: 0;
    top: calc(41px + (21px * 2));
    height: calc(100vh - (41px + (21px * 2)));
    overflow: hidden;
    backdrop-filter: blur(20px) brightness(20%);
    z-index: -1;
  }
  .container {
    margin-inline: auto;
    position: relative;
  }
  i,
  p,
  span,
  a {
    color: $white;
    white-space: nowrap;
  }
  nav {
    i {
      font-size: 1.2em;
    }
    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .bottom {
      font-weight: bold;
      transition: 200ms ease-in-out;
      display: flex;
      align-items: center;
      .logo-ilanga {
        display: none;
        height: 3rem;
        img {
          height: 100%;
          width: auto;
        }
      }
      .menu {
        text-transform: uppercase;
        position: relative;
        .bio {
          span,
          i {
            color: $green;
          }
        }
        .more {
          transition: 200ms ease-in-out;
          color: $black !important;
          width: fit-content;
          padding: 0 !important;
        }
        .sub-menu {
          transition: 300ms ease-in-out;
          -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          background-color: $white;
          display: flex;
          transform: translateY(100%);
          bottom: 0rem;
          left: 0;
          width: 100%;
          position: absolute;
          justify-content: center;
          align-items: center;
          border-bottom: 2px $orange solid;
          height: 0;
          .selector {
            display: block;
          }
          a {
            color: $black;
          }
        }
        li {
          cursor: pointer;
        }
        li:hover,
        li:active {
          .more {
            transform: rotate(90deg);
          }
          .sub-menu {
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            height: fit-content;
          }
        }
      }
      .contact {
        padding-block: 1.5rem;
        i,
        span {
          color: $black;
        }
        .dot {
          background-color: $black;
        }
      }
      .language {
        background-color: $black;
        height: 3rem;
        width: 100%;
      }
    }
    .left,
    .right {
      display: flex;
      align-items: center;
    }
    .left {
      gap: 3rem;
    }
    .right {
      gap: 1.5rem;
    }
    .contact {
      align-items: center;
      gap: 1.5rem;
    }
    select {
      font-size: 1em;
      appearance: none;
      background: transparent !important;
      color: $white;
      text-decoration: underline;
      text-underline-offset: 2px;
      text-underline-position: under;
      option {
        color: $black;
      }
      &:focus {
        outline: none;
      }
    }
  }
  .btn {
    border-radius: 100%;
    height: 41px;
    width: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
  }
  .btn-1 {
    background-color: #000;
    i {
      color: $white;
    }
  }
  .btn-2 {
    background-color: $orange;
    display: flex;
    align-items: center;
    i {
      margin-inline: auto;
      color: $white;
    }
  }
  .btn-3 {
    background-color: $white;
    i {
      color: $black;
    }
  }
  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 5rem;
    img {
      height: 100%;
      width: auto;
      filter: invert(100%);
    }
  }
}

.hero {
  max-width: 100%;
  width: 100%;
  max-height: calc(100vh - 96px);
  height: 1200px;
  overflow: hidden;
  position: relative;
  video {
    background-color: $black;
    color: $white;
    object-position: 50% 60%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(80%) contrast(120%) saturate(120%);
  }
  a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    color: $white;
    i {
      padding-bottom: 0.3rem;
    }
    .more {
      padding-left: 1rem;
    }
  }
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $white;
    width: 100%;
    .title {
      margin-top: 8rem;
      font-family: "Thirsty Rough";
      font-size: clamp(2em, 8vw, 6em);
      text-align: center;
      line-height: 1.2em;
    }
    .buttons {
      margin-top: 3rem;
      display: flex;
      gap: 0.7rem;
      justify-content: center;
      button {
        padding: 1.5em 3em;
        font-size: clamp(1em, 10%, 1.2em);
        text-transform: uppercase;
        font-weight: bold;
        color: $white;
        line-height: 1;
      }
      :nth-child(1) {
        background-color: $black;
        &:hover,
        &:focus {
          filter: brightness(110%);
        }
      }
      :nth-child(2) {
        background-color: $orange;
        &:hover,
        &:focus {
          filter: brightness(90%);
        }
      }
    }
  }
}
.scroll-icon {
  padding-block: 1.5rem 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  svg {
    height: 3rem;
    width: auto;
  }
}
.template-2-blocks {
  overflow: hidden;
  position: relative;
  &.pack-confiture {
    &.wasInView {
      .image {
        animation: fromRightToLeft 1s ease-in-out forwards;
      }
      .text {
        animation: fromBottomToTop 1s ease-in-out forwards;
        animation-delay: 300ms;
      }
    }
  }
  &.nos-valeurs {
    &.wasInView {
      .image {
        animation: fromLeftToRight 1s ease-in-out forwards;
      }
      .text {
        animation: fromBottomToTop 1s ease-in-out forwards;
        animation-delay: 300ms;
      }
    }
    .background {
      bottom: 8rem;
      background-image: url(../assets/madagascar_ilanga_facebook.jpg);
    }
    .text {
      margin-top: 5rem !important;
    }
  }

  width: 100%;
  padding: 4rem;
  .background {
    inset: 0;
    position: absolute;
    z-index: -1;
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
  }
  .container {
    width: 100%;
    max-width: 1300px;
    display: flex;
    gap: 2rem;
    height: fit-content;
    margin-inline: auto;
  }
  h2 {
    font-family: "Thirsty Rough";
    font-size: 4em;
    color: $gold;
    margin-bottom: 1rem;
    line-height: 1em;
  }
  h3 {
    font-size: 3em;
    text-transform: uppercase;
  }
  h4 {
    font-size: 1.5em;
    color: $orange;
    padding-bottom: 1em;
    text-transform: uppercase;
  }
  p {
    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: 0.04em;
    span {
      font-weight: bold;
    }
  }
  .text {
    margin-top: 10%;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-inline: clamp(5vw, 1vw, 10%);
  }
  .image {
    height: 100%;
    width: 50%;
    overflow: hidden;
    aspect-ratio: 0.9;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: 1s ease-in-out;
      &:hover,
      &:focus {
        transform: scale(110%);
      }
    }
  }
}
.template-products {
  overflow: hidden;
  &.wasInView {
    .grid-item {
      animation: fromBottomToTop 1s ease-in-out forwards;
    }
    @for $i from 1 to 5 {
      .grid-item.item-#{$i} {
        animation-delay: 300ms * ($i - 1);
      }
    }
  }
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  align-items: center;
  background-color: $cream;
  text-align: center;
  h2 {
    font-size: 3em;
    text-transform: uppercase;
  }
  h3 {
    font-size: 1.5em;
    color: $orange;
    padding-bottom: 1.5em;
    text-transform: uppercase;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
    gap: 1rem;
    max-width: 1330px;
  }
  .grid-item {
    flex: 1;
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: $white;
  }
  .filler {
    display: none;
  }
  .image {
    width: 100%;
    aspect-ratio: 1;
    padding-block: 0.5rem 2rem;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: center;
    }
  }
  .prices {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    white-space: nowrap;
  }
  .categorie {
    color: $gold;
    font-weight: bold;
  }
  .product-name {
    font-size: 1em;
    color: $black;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  .old-price {
    color: $black;
    font-size: 1.5em;
    text-decoration: line-through;
  }
  .price {
    color: $orange;
    font-size: 1.5em;
  }
  .add-cart {
    margin-top: 1rem;
    border: $orange 1px solid;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    padding-inline: 1rem;
    width: fit-content;
    margin-inline: auto;

    input {
      font-size: 1em;
      &[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
    }
    .control {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: fit-content;
      button {
        background-color: transparent;
        i {
          color: $black;
        }
      }
    }
    > button {
      background-color: transparent;
      text-transform: uppercase;
      font-size: 1em;
      padding-left: 1rem;
      padding-block: 1rem 0.8rem;
      border-left: $orange 1px solid;
      color: $black;
    }
  }
  .see-more {
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: $orange;
    text-transform: uppercase;
    color: $white;
  }
}
.template-news {
  overflow: hidden;
  text-align: center;
  width: 100%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-family: "Thirsty Rough";
    font-size: 4em;
    color: $gold;
    margin-bottom: 1rem;
    line-height: 1em;
  }
  h3 {
    font-size: 3em;
    text-transform: uppercase;
    padding-bottom: 2rem;
  }
  h4 {
    font-size: 1.5em;
    color: $orange;
    padding-bottom: 1em;
    text-transform: uppercase;
  }
  .container {
    width: 100%;
    max-width: 1300px;
    display: flex;
    gap: 4rem;
  }
  .socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    a {
      color: $black;
    }
    i {
      font-size: 3rem;
    }
  }
  .grid {
    display: flex;
    align-items: center;
    gap: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: 0;
    scroll-snap-type: x mandatory;
  }
  .grid-item {
    display: block;
    height: 20rem;
    width: 20rem;
    flex-shrink: 0;
    scroll-snap-align: start;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
footer {
  .container {
    padding-inline: 4rem;
    background-color: $black;
    background-image: url(../assets/footer_background.jpeg);
    background-size: cover;
    background-position: center;
    backdrop-filter: saturate(0);
  }
  .grid {
    margin-inline: auto;
    padding-block: 4rem;
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    .grid-item {
      flex: 1 1 10rem;
      h3 {
        color: $white;
        padding-bottom: 0.8rem;
        font-size: 1.5em;
        text-transform: uppercase;
      }
      li {
        line-height: 1.1em;
        padding-block: 0.4em;
      }
      a {
        font-size: 1em;
        color: $white;
      }
    }
  }
  .footer-icons {
    padding-block: 1rem;
    display: flex;
    justify-content: center;
    max-width: 100%;
    width: 576px;
    margin: auto;
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
  .copyright {
    color: $white;
    background-color: $orange;
    text-align: center;
    padding-block: 1rem;
    text-transform: uppercase;
  }
}

//  --- Medias ---

//  large screens
@media (min-width: 1340px) {
  header.mini {
    padding-top: 10px;
    background-color: $white;
    .logo-ilanga {
      display: block !important;
    }
    .top {
      display: none;
    }
    .bottom {
      padding-top: 0;
    }
    i,
    p,
    span,
    a {
      color: $black;
    }
    .border-left {
      > span,
      > a {
        border-left: $black 1px solid !important;
      }
    }
    a {
      padding-inline: 1.3rem !important;
    }
  }
  header {
    .background {
      opacity: 0;
      display: none;
    }
    padding: 53px 20px 10px 20px;
    .container {
      width: 1300px;
    }
    .btn-1 {
      display: none;
    }
    .contact {
      display: flex;
    }
    .logo {
      top: -1.5rem;
    }
    .bottom {
      padding-top: 2.2rem;
      .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .more {
          display: none;
        }
        li {
          padding-block: 1rem;
        }
        .a-propos {
          background-color: $orange;
          a {
            color: $white !important;
          }
        }
        .border-left {
          > span,
          > a {
            border-left: $white 1px solid;
          }
        }
        a {
          padding-inline: 1.5rem;
        }
      }
      .contact {
        display: none;
      }
      .language {
        display: none;
      }
    }
  }
}
//  small/medium screens
@media (max-width: 1340px) {
  header.mini {
    background-color: $white;
    .logo {
      img {
        filter: none;
      }
    }
  }
  header {
    padding: 20px 0 0 0;
    .top {
      padding-inline: 20px;
      padding-bottom: 20px;
    }
    &.showMenu {
      background-color: $white;
      .logo img {
        filter: none;
      }

      .background,
      .bottom {
        display: block;
      }
    }
    &.hideMenu {
      .background,
      .bottom {
        display: none;
      }
    }
    .sub-menu {
      position: static !important;
      flex-direction: column;
      transform: none !important;
      border: none !important;
      align-items: flex-start !important;
      flex-wrap: wrap !important;
      li {
        margin-inline: 0 !important;
        padding-block: 0.2rem !important;
        padding-inline: 0.3rem;
        border: none !important;
      }
      width: fit-content !important;
    }

    .btn-3 {
      display: none;
    }
    .left {
      .contact {
        display: none;
      }
    }
    .right {
      .dot,
      .account,
      select {
        display: none;
      }
    }
    .logo {
      top: -1rem;
      transform: translateX(-50%) scale(80%);
    }
    .bottom {
      background-color: $white;
      animation: 500ms ease-in-out fromTopToBottom;
      max-height: calc(100vh - 41px - (20px * 2));
      overflow-x: hidden;
      .menu {
        width: 100%;
        span,
        a {
          color: $black;
          padding-inline: 0.3rem;
        }
        li {
          padding-block: 1rem;
          border-bottom: $black 1px solid;
          margin-inline: 1rem;
        }
      }
      .contact {
        margin-inline: 1rem;
        display: flex;
      }
      .language {
        display: block;
      }
    }
  }
  .hero .content .title {
    margin-top: 0rem;
  }
}

@media (max-width: 999px) {
  .scrollToTop {
    display: none;
  }
  main .hero {
    height: 600px;
  }
  .template-2-blocks {
    padding-inline: 2rem;
    .container {
      flex-direction: column;
    }
    .image {
      width: 100%;
      order: 1;
    }
    .text {
      width: 100%;
      order: 2;
      padding-inline: 0;
    }
  }
  .template-products {
    background-color: $white;
    padding-inline: 0;

    .grid {
      gap: 0;
      grid-template-columns: repeat(2, 1fr);
    }
    .filler {
      display: flex;
    }
  }
  .template-news {
    padding-inline: 2rem;
    .container {
      justify-content: center;
    }
    .socials {
      display: none;
    }
    .grid {
      flex-direction: column;
    }
    .grid-item {
      display: none;
      width: 100%;
      height: auto;
      aspect-ratio: 1;
    }
    .grid-item:nth-child(1),
    .grid-item:nth-child(2) {
      display: block !important;
    }
  }
}

@media (max-width: 600px) {
  .template-products {
    .grid {
      grid-template-columns: repeat(1, 1fr);
    }
    .filler {
      display: none;
    }
  }
}

//  --- Animations ---
.initFromTopToBottom {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
@keyframes fromTopToBottom {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

.initFromLeftToRight {
  transform: translateX(-10rem);
  opacity: 0;
}
@keyframes fromLeftToRight {
  from {
    opacity: 0;
    transform: translateX(-10rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.initFromRightToLeft {
  opacity: 0;
  transform: translateX(10rem);
}
@keyframes fromRightToLeft {
  from {
    opacity: 0;
    transform: translateX(10rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.initFromBottomToTop {
  opacity: 0;
  transform: translateX(10rem);
}
@keyframes fromBottomToTop {
  from {
    opacity: 0;
    transform: translateY(10rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
